[user]
	name = Tyghe Vallard
	email = tyghe.vallard@target.com
[credential]
	helper = cache --timeout=86400
[push]
	default = tracking
[core]
	excludesfile = /home/tyghe/.gitignore
	preloadindex = true
	editor = /usr/bin/vim
[github]
	user = necrolyte2
[init]
	templatedir = ~/.git-templates
[alias]
	tag = tag --sort version:refname
