[user]
	name = Tyghe Vallard
	email = vallardt@gmail.com
[credential]
	helper = cache --timeout=86400
[push]
	default = tracking
[core]
	excludesfile = /home/AMED/tyghe.vallard/.gitignore
	preloadindex = true
[github]
	user = necrolyte2
