URxvt*.depth: 32
URxvt*.background: Black
URxvt*.foreground: Green
URxvt*.scrollBar: false
URxvt*.fade: 20
URxvt*.cursorColor: White
URxvt*.pointerColor: White
URxvt*.pointerColor2: White
URxvt.perl-ext-common: default,selection-to-clipboard
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.font: 9x15bold
Xft.dpi: 96
